<!DOCTYPE html>
<html>
<head>
    <title>Coffee Shop</title>
    <style>
        body{
            font-family: Arial;
            background:#f5f5dc;
            text-align:center;
        }
        h1{
            color:brown;
        }
        .menu{
            width:300px;
            margin:auto;
            background:white;
            padding:20px;
            border-radius:10px;
        }
    </style>
</head>

<body>

<h1>☕ Welcome to Coffee Shop ☕</h1>

<div class="menu">

<h2>Menu</h2>

<p>Espresso - ₹120</p>

<p>Cappuccino - ₹180</p>

<p>Latte - ₹200</p>

<p>Mocha - ₹220</p>

<p>Cold Coffee - ₹170</p>

</div>

</body>
</html>